*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: unset;


}
body{
    font-family: "Mulish", sans-serif;
    padding: 10px 10px;
    background-color: brown;


}
.mobile-container{
    max-width: 430px;
    width: 100%;
    padding: 10px 10px;
    background-color: rgba(235, 248, 206, 0.987);
    min-height: 100vh;
    margin: 0 auto;
    border-radius: 16px;

}
a{
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    
}
a:hover{
    scale: 1.3;
}
.img{
    text-align: center;
    background-color: rgba(109, 14, 14, 0.993);
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 10px;
}
.profile-photo{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 9px solid #fff;
   
}
.profile-info{
    text-align: center;
    background-color: rgba(161, 215, 197, 0.762);
    padding: 10px;
    border-radius: 16px;
    margin-bottom: 20px;
    
}
.name{
    margin-bottom: 5px;
    color: #520707;
}
.name:hover{
    scale: 1.4;
}
.post{
 margin-bottom: 20px;
  color: #5b0909;
  font-size: 18px;
  font-weight: 700;

}
.icons{
    display: inline-flex;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 16px;
   

}
.icons.whatsapp{
    color:#fff;
    background-color: #2ec857;
}
.icons.facebook{
    color:#fff;
    background-color: #0000ff;

}
.icons.instagram{
     color:#fff;
    background-color:#f31616;

}
.lorem{
    display: flex;
    justify-content: center;
    line-height: 1.4;
    font-size: 18px;
    padding: 15px 15px;
    align-items: center;
    text-align: center;
    background-color:rgba(161, 215, 197, 0.762);;
   border-radius: 16px;
    margin-bottom: 20px;
    color: #370909;
}
.contect-info{
    padding: 20px;
  background-color: #560707;
  border-radius: 16px;
  margin-bottom: 20px;
}
.contect{
    background-color: #fff;
    padding: 20px 50px;
     font-size: 30px;
     border-radius: 16px;
     color: #17d549;
     margin-bottom: 20px;
     
}
.contect-heading{
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 15px;
}
.contect a{
    display: flex;
    gap: 20px;
   
}
.contect i{
    font-size: 30px;
    background-color: #f31616;
    color: #fff;
    padding: 5px;
    border-radius: 100%;
}
.email{
    background-color: #fff;
    padding: 20px 20px;
    font-size: 24px;
    border-radius: 16px;
    color: #17d549;
    display: flex;
    gap: 10px;
    
  
    
}
.email i{
     font-size: 30px;
    background-color: #f31616;
    padding: 5px;
    border-radius: 100%;
    color: #fff;
  
}
.address{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    padding: 20px;
    color: #520707;
}
.map{

    width: 100%;
    height: 300px;
    background-color: #751b1b;
    padding: 10px;
    border-radius: 16px;
}